<!-- navbar  -->
<kendo-appbar>
   <kendo-appbar-section>
      <kendo-avatar shape="circle" width="30px" height="30px" [imageSrc]="appbarImg"></kendo-avatar>
   </kendo-appbar-section>

   <span class="k-appbar-separator"></span>

   <kendo-appbar-section>
      <h1 class="appbar-title">Wholesale Disco</h1>
   </kendo-appbar-section>

   <kendo-appbar-spacer></kendo-appbar-spacer>

   <kendo-appbar-section>
      <ul>
         <li [routerLink]="[('/home')]"><span>Home</span></li>
         <li [routerLink]="[('/employee')]"><span>Employee</span></li>
         <li [routerLink]="[('/task')]"><span>Task</span></li>
      </ul>
   </kendo-appbar-section>

   <kendo-appbar-spacer width="5px"></kendo-appbar-spacer>

   <kendo-appbar-section>
      <kendo-button kendoRippleContainer themeColor="primary" class="appbar-login-button" (click)="RouteLogin()" [svgIcon]="buttonIcon">Login</kendo-button>
   </kendo-appbar-section>
</kendo-appbar>