<nav
  class="font-sans flex flex-col text-center sm:flex-row sm:text-left sm:justify-between py-4 px-6 bg-white shadow sm:items-baseline w-full" *ngIf="isMenuVisible">
  <div class="mb-2 sm:mb-0">
    <a class="text-2xl no-underline text-grey-darkest hover:text-blue-dark font-bold">Employee WEL</a>
  </div>
  <div>
    <a routerLink="home" [class.font-bold]="isPageActive('home')" class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">Home</a>
    <a routerLink="about" [class.font-bold]="isPageActive('about')" class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-6">About</a>
    <a routerLink="contact" [class.font-bold]="isPageActive('contact')" class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-6">Contact</a>

    <button class="bg-red-700 text-white font-bold rounded-lg py-2 px-4 ml-6" (click)="Logout()">
      <span>Logout</span>
    </button>
  </div>
</nav>

<router-outlet></router-outlet>