body {
   background-color: #f5f5f5;
}

.card-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 7%;
}

.p-separator {
   padding-top: 12px;
   font-size: 11px;
}

.p-separator a {
   color: #3E50B4;
   text-decoration: none;
   cursor: pointer;
}

.k-textbox:focus {
   border-color: #3E50B4;
}

button {
   width: 100%;
}

.k-card {
   border: 2px solid #dcdcdc;
   box-shadow: 8px 8px 13px rgba(0, 0, 0, 0.2);
}

.k-card-title {
   font-weight: bold;
   font-size: 24px;
}

.k-card-subtitle {
   font-size: 11px;
   margin-left: 2px;
}

.k-form-label::after {
   content: '*';
   font-weight: bold;
   color: red;
   font-size: 12px;
   padding-left: 2px;
}

.k-button {
   text-transform: capitalize;
   height: 35px;
}

.k-notification-content {
   color: white;
}

.button-notification .k-icon {
   color: white;
}

.loader-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer {
   display: flex;
   justify-content: center;
   align-items: center;
}

.button-notification {
   margin-right: 10px;
}

.gray-text-input {
   color: gray;
}

@media screen and (max-width: 480px) {
   .card-container {
      margin-top: 40%;
   }
}

/* Media query for medium-sized screens (e.g., tablets) */
@media screen and (min-width: 481px) and (max-width: 1024px) {
   .card-container {
         margin-top: 20%;
   }
}
