@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Roboto+Condensed&display=swap');

body {
   font-family: 'Lato', sans-serif;
}

.loader-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.gray-text-input {
   color: gray;
}

.k-button-error {
   color: #FFFFFF;
}

.k-notification-content {
   color: white;
}

.button-notification .k-icon {
   color: white;
}

.button-notification {
   margin-right: 10px;
}